@import url('shared.css');

body {
    overflow: hidden;
}

p {
    font-family: 'MinhaFonte', sans-serif;
    text-align: center;
}

.chibi-image {
    max-width: 100px;
    max-height: 100px;
}

#img-main-page {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 200px auto 0;
}