@import url('shared.css');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 200px auto;
    margin-left: 5px;
}

.personagem-info {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    width: 70%;
    margin-right: 50px;
}

.personagem-image {
    max-width: 100px;
    margin-right: 150px;
}

.text {
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.minhafonte {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: #ffffff;
}