@import url('shared.css');

h2 {
    text-align: center;
}

.container-personagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personagem-info {
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
    width: 70%;
    margin-right: 50px;
    margin-left: 150px;
}

.personagem-img {
    max-width: 500px;
    margin-right: 150px;
}

.text {
    font-size: 15px;
    color: #ffffff;
    margin-top: 15px;
}

.minhafonte {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: #ffffff;
}