body {
    margin: 20px;
    max-width: 100%;
    overflow-x: hidden;
}
    
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/img/blue_bg.jpg');
    background-size: cover;
    background-position: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 50px 0;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: 'MinhaFonte';
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('/font/Jujutsu\ Kaisen.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#logo-container {
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
}

#logo {
    max-width: 250px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
}

ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

ul li a:hover {
    color: #ffe600;
}

ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

footer p {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 20px;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #08007e;
}

body::-webkit-scrollbar-thumb {
    background: #ffe600;
    border-radius: 5px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #ffe600 #ff7300;
}

#menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 15px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    border-radius: 3px;
}

#menu-bar {
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#menu-list {
    text-align: right;
    padding-right: 15px;
}

#menu-list li {
    margin-right: 15px;
}

#menu {
    font-family: 'MinhaFonte', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

#menu li {
    display: inline;
    margin-right: 15px;
}

#menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: color 0.3s;
}

#menu li a:hover {
    color: #ffe600;
}

#menu.active {
    display: block;
    animation: fadeIn 0.5s ease;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}