@import url('shared.css');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.sobre {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    width: 50%;
    margin-right: 100px;
}

.img-manga img {
    border-radius: 5%;
    max-width: 100%;
}

.text {
    font-size: 20px;
    color: #ffffff;
    margin-top: 15px;
}

.characters {
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}

.movie {
    max-width: 700px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

table caption {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

table thead {
    font-family: 'MinhaFonte', sans-serif;
    background: #333;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #fff;
}

table th {
    background: rgb(0, 105, 153);
    color: #fff;
}

table tr:nth-child(even) {
    background: rgba(0, 105, 153, 0.1);
}

table tr:nth-child(odd) {
    background: rgba(0, 105, 153, 0.2);
}

table th img {
    width: 30px;
}

.page-title {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.subtitle {
    font-family: 'MinhaFonte', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}